@media screen and (max-width: 1910px)
	.technologies
		background: url("../../images/bg/tehnologies-left.png") no-repeat -10% 50%, url("../../images/bg/tehnologies-right.png") no-repeat 110% 50%

@media screen and (max-width: 1680px)
	.technologies
		background: url("../../images/bg/tehnologies-left.png") no-repeat -20% 50%, url("../../images/bg/tehnologies-right.png") no-repeat 120% 50%

@media screen and (max-width: 1525px)
	.technologies
		background: url("../../images/bg/tehnologies-left.png") no-repeat -25% 50%, url("../../images/bg/tehnologies-right.png") no-repeat 125% 50%

@media screen and (max-width: 1450px)
	.technologies
		background-image: none